.search-container{
  position: relative;
}

.search-results{
  position: absolute;
  top: 55px;
  width: 100%;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
  overflow: hidden;
  z-index: 1000;
}

.search-item{
  display: block;
  padding: 14px;
  text-decoration: none;
  color: #0F172A;
  border-bottom: 1px solid #f1f5f9;
}

.search-item:hover{
  background: #f8fafc;
}

.search-category{
  display:inline-block;
  margin-top:4px;
  font-size:12px;
  color:#2563eb;
  font-weight:600;
}